@import "variables";

.text-gradient {
    background: linear-gradient(50deg, $text-gradient-color-1, $text-gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mail {
    background-color: #f1dce5;
}

.screen {
    background-color: #d5d8f1;
}

.logbook {
    background-color: #dcdbda;
}

.app {
    background-color: #d4dcc9;
}

.printing {
    background-color: #d5d2df;
}

.sketch {
    background-color: #c1deee;
}