@import "variables";

.text-gradient {
    background: linear-gradient(50deg, $text-gradient-color-1, $text-gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}