$white-color: #fff;
$black-color: #000;
$nav-color: #485466;
$nav-button-color: #4E92F9;
$nav-signup-button-background-color: #f9fafd;
$header-border: #f7f9fe;
$body-background-color-1: #c381db1f;
$body-background-color-2: #4e92f92e;
$intro-source-color: #485466;
$intro-p-color: #6C7E99;
$intro-span-color: #4E92F9;
$text-gradient-color-1: #c381db;
$text-gradient-color-2: #4e92f9;

